<footer class="footer bg-secondary py-5">
  <div class="container pt-md-2 pt-lg-3 pt-xl-4">
    <div class="row pb-4 pb-md-5 pt-sm-2 mb-lg-2">
      <!-- Logo + description -->
      <div class="col-md-4 col-lg-3 pb-2 pb-md-0 mb-4 mb-md-0">
        <component-logo-box className="text-nav py-0 mb-3 mb-md-4" />

        <p class="fs-sm pb-2 pb-md-3 mb-3">
          LOU est la plateforme simple, rapide et sécurisée pour réserver vos hébergements 
          et salles d’événements partout en Afrique 🌍.
        </p>
        <div class="d-flex gap-3">
          <a
            class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle"
            href="https://facebook.com/louiciapp"
            aria-label="Facebook"
          >
            <i class="ai-facebook"></i>
          </a>
          <a
            class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle"
            href="https://www.instagram.com/lou.iciapp"
            aria-label="Instagram"
          >
            <i class="ai-instagram"></i>
          </a>
          <a
            class="btn btn-icon btn-sm btn-secondary btn-linkedin rounded-circle"
            href="https://www.linkedin.com/company/105096223"
            aria-label="LinkedIn"
          >
            <i class="ai-linkedin"></i>
          </a>
          <a
            class="btn btn-icon btn-sm btn-secondary btn-tiktok rounded-circle"
            href="http://www.tiktok.com/@louapp.co"
            aria-label="LinkedIn"
          >
            <i class="ai-tiktok"></i>
          </a>
        </div>
      </div>

      <!-- Liens utiles -->
      <div class="col-md-8 col-lg-7 col-xl-6 offset-lg-2 offset-xl-3">
        <div class="row row-cols-1 row-cols-sm-3">
          <div class="col mb-3 mb-md-0">
            <ul class="nav flex-column">
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#features"
                  >Fonctionnalités</a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#how-it-works"
                  >Comment ça marche</a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#reviews"
                  >Avis clients</a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#faq">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col mb-4 mb-md-0">
            <ul class="nav flex-column">
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#become-host"
                  >Devenir hôte</a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#help-center"
                  >Centre d’aide</a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#terms"
                  >Conditions d’utilisation</a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="#privacy"
                  >Politique de confidentialité</a>
              </li>
            </ul>
          </div>

          <!-- Boutons de téléchargement -->
          <div class="col">
            <a
              class="btn btn-secondary px-3 py-2 mb-3 me-3 me-md-0"
              href="javascript:void(0);"
            >
              <img
                class="mx-1 d-dark-mode-none"
                src="assets/img/market/appstore-dark.svg"
                width="120"
                alt="App Store"
              />
              <img
                class="mx-1 d-none d-dark-mode-block"
                src="assets/img/market/appstore-light.svg"
                width="120"
                alt="App Store"
              />
            </a>
            <a
              class="btn btn-secondary px-3 py-2 mb-3 me-3 me-md-0"
              href="javascript:void(0);"
            >
              <img
                class="mx-1 d-dark-mode-none"
                src="assets/img/market/googleplay-dark.svg"
                width="119"
                alt="Google Play"
              />
              <img
                class="mx-1 d-none d-dark-mode-block"
                src="assets/img/market/googleplay-light.svg"
                width="119"
                alt="Google Play"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bas de page -->
    <p class="nav fs-sm mb-0 text-center">
      <span class="text-body-secondary"
        >&copy; 2025 LOU Africa — Une filiale de Inova Technologies Inc. | Tous droits réservés.</span
      >
    </p>
  </div>
</footer>
