<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5 text-center">
  <div class="swiper pt-2 pt-sm-4">
    <swiper-container
       [config]="swiperConfig" init="false">
    
      <swiper-slide class="swiper-slide">
        <div class="border rounded-4">
          <img
            class="d-block d-dark-mode-none mx-auto"
            src="https://cdn.brandfetch.io/idxAg10C0L/theme/dark/idsqGvSNgF.svg?c=1bxid64Mup7aczewSAYMX&t=1746435898701"
            width="196"
            alt="Logo"
          />
          <img
            class="d-none d-dark-mode-block mx-auto"
            src="https://cdn.brandfetch.io/idxAg10C0L/theme/dark/logo.svg?c=1bxid64Mup7aczewSAYMX&t=1746435914582"
            width="196"
            alt="Logo"
          />
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <div class="border rounded-4">
          <img
            class="d-block d-dark-mode-none mx-auto"
            src="https://i.postimg.cc/QxK7s9z6/Iuwe-P301-1.png"
            width="196"
            alt="Logo" 
          />
          <img
            class="d-none d-dark-mode-block mx-auto"
            src="https://i.postimg.cc/ZY72BRct/Sg-Rk-W001-1.png"
            width="196"
            alt="Logo"
          />
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <div class="border rounded-4">
          <img
            class="d-block d-dark-mode-none mx-auto"
            src="https://i.postimg.cc/HkRBd8d3/b0qj-Yy01-3-1.png"
            width="196"
            alt="Logo"
          />
          <img
            class="d-none d-dark-mode-block mx-auto"
            src="https://i.postimg.cc/LsGBKckW/b0qj-Yy01-2.png"  
            width="196"
            alt="Logo"
          />
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <div class="border rounded-4">
          <img
            class="d-block d-dark-mode-none mx-auto"
            src="https://i.postimg.cc/c4xMfMFr/idf-F7lun7n-1758666974691-1.png"
            width="196"
            alt="Logo"
          />
          <img
            class="d-none d-dark-mode-block mx-auto"
            src="https://i.postimg.cc/c4xMfMFr/idf-F7lun7n-1758666974691-1.png1"  
            width="196"
            alt="Logo"
          />
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <div class="border rounded-4">
          <img
            class="d-block d-dark-mode-none mx-auto"
            src="https://i.postimg.cc/3Jq4WgVM/id-S5-TK0-MYh-1758667384508-1.png"
            width="196"
            alt="Logo"
          />
          <img
            class="d-none d-dark-mode-block mx-auto"
            src="https://i.postimg.cc/cJRrDPHZ/id-FJd-EKz-UK-logos-1.png"  
            width="196"
            alt="Logo"
          />
        </div>
      </swiper-slide>

       <swiper-slide class="swiper-slide">
        <div class="border rounded-4">
          <img
            class="d-block d-dark-mode-none mx-auto"
            src="https://i.postimg.cc/WpFtCDtX/gt-1.png"
            width="196"
            alt="Logo"
          />
          <img
            class="d-none d-dark-mode-block mx-auto"
            src="https://i.postimg.cc/WpFtCDtX/gt-1.png"  
            width="196"
            alt="Logo"
          />
        </div>
      </swiper-slide>

    </swiper-container>

    <div
      id="logo-pagination"
      class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-xl-none"
    ></div>
  </div>
</section>
